
.description{
    color: gray;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}
